.rootparent
{
    background-image: url("space_bg.jpeg");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.parent {
    display: flex;
}

#out1
{
    padding-left: 45%;
    padding-top: 150px;
}

#out2 {
    padding-left: 85%;
    padding-top: 150px;
}

#out3 {
    padding-left: 45%;
    padding-top: 150px;
    padding-bottom: 150px;
}

#out4 {
    padding-left: 85%;
    padding-top: 150px;
    padding-bottom: 150px;
}

#pix {
    height: 300px;
    width: 350px;
}

.box1:hover #pix {
    opacity: 0.3;
    transition: all 0.3s ease-out;
}

.box1:hover .overlay {
    opacity: 1; 
}

.box2:hover #pix {
    opacity: 0.3;
    transition: all 0.3s ease-out;
}

.box2:hover .overlay {
    opacity: 1;
}

.box3:hover #pix {
    opacity: 0.3;
    transition: all 0.3s ease-out;
}

.box3:hover .overlay {
    opacity: 1;
}

.box4:hover #pix {
    opacity: 0.3;
    transition: all 0.3s ease-out;
}

.box4:hover .overlay {
    opacity: 1;
}

.overlay .text_c {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay {
    position: absolute;
    height: 300px;
    width: 350px;
    opacity: 0;
    transition: .5s ease;
    /* background-color:powderblue; */
    
}

.box1 .overlay{
    top: 150px;
    left: 12.25%;
    transition: all 0.3s ease-out;
}

.box2 .overlay {
    top: 150px;
    left: 51.2%;
    transition: all 0.3s ease-out;
}

.box3 .overlay {
    top: 600px;
    left: 12.35%;
    transition: all 0.3s ease-out;
}

.box4 .overlay {
    top: 600px;
    left: 51.23%;
    transition: all 0.3s ease-out;
}

/* @font-face {
    font-family: Inconsolata;
    src: local('Inconsolata'),
        url('./Inconsolata.ttf') format('ttf');
} */
